<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted menu">
      <a class="ui header item" href=#>
        Social Media Woot!
      </a>
      <br>
    </div>
    <br>
    <div class="ui main text container" >
      <%= yield %>
    </div>
  </body>
</html>
